[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
jaxlib = "*"
tensorflow-datasets = "*"
tensorflow = "*"
dm-env = "*"
dm-tree = "*"
optax = "*"
rlax = "*"
chex = "*"
jraph = {git = "git://github.com/deepmind/jraph.git"}

[dev-packages]

[requires]
python_version = "3.8"
